@import '../mixins/flex';
@import '../mixins/colours';

.sale-row {
  padding: 14px 24px;
  color: $black;
  font-size: 0.85em;
  background-color: $white;
  border-bottom: 1px solid $grey-base-border;
  position: relative;
  z-index: 2;
  @include flexbox;
  @include flex-direction(row);

  .name {
    @include flex(1 0 0);
  }

  .price {
    min-width: 80px;
    text-align: right;
  }

  .quantity-btns {
    @include flexbox;

    .quantity {
      min-width: 24px;
      text-align: center;
      margin: 0px 16px;
    }
  }
}

.sale-row-enter {
  margin-top: -60px;
  z-index: 1;
  transition: margin-top .1s ease-in;
}

.sale-row-enter.sale-row-enter-active {
  margin-top: 0px;
}

.sale-row-leave{
  margin-top: -60px;
  z-index: 1;
  transition: margin-top .1s ease-in;
}

.sale-row-leave.sale-row-enter-active {
  margin-top: 0px;
}

.quantity-btn {
  width: 18px;
  height: 18px;

  &.quantity-btn-minus {
    background: image-url('quantity_btn_minus.png') no-repeat;
    background-size: contain;
  }

  &.quantity-btn-plus {
    background: image-url('quantity_btn_plus.png') no-repeat;
    background-size: contain;
  }
}
