@import 'mixins/flex';

body {
  margin: 0px;
  height: 100vh;
}

#app-container {
  padding: 58px 8px 20px 8px;
  height: 100%;
  @include flexbox;
}

main#app {
  min-width: 960px;
  @include flex;
  @include flexbox;

  .menu, .sale {
    @include flex;
  }

  .menu {
    margin-right: 10px;
  }

  .sale {
    margin-left: 10px;
  }
}


