@import 'mixins/flex';
@import 'mixins/colours';

.sale {
  background-color: $grey-base;
  border: 1px solid $grey-base-border;
  border-radius: 3px;
  @include flexbox;
  @include flex-direction(column);

  .sale-header {
    @include flex(1, 0, 0);
    color: $white;
    background: image-url('sale_header.png') no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid $grey-base-border;
  }

  .sale-items {
    @include flex(2 0 0);
    @include flex-direction(column);
    overflow-y: scroll;
  }

}

.sale-row {
  padding: 14px 24px;
  color: $black;
  font-size: 0.85em;
  background-color: $white;
  border-bottom: 1px solid $grey-base-border;
  @include flexbox;
  @include flex-direction(row);

  .name {
    @include flex(1 0 0);
  }

  .price {
    min-width: 80px;
    text-align: right;
  }

  .quantity-btns {
    @include flexbox;

    .quantity {
      min-width: 24px;
      text-align: center;
      margin: 0px 16px;
    }
  }
}

.quantity-btn {
  width: 18px;
  height: 18px;

  &.quantity-btn-minus {
    background: image-url('quantity_btn_minus.png') no-repeat;
    background-size: contain;
  }

  &.quantity-btn-plus {
    background: image-url('quantity_btn_plus.png') no-repeat;
    background-size: contain;
  }
}

.sale-summary {
  font-size: 0.85em;
  padding: 14px 24px;
  background-color: $white;
  border-top: 1px solid $grey-base-border;

  .summary-table {
    td {
      padding: 5px 0px 5px 5px;
    }

    tr.divider > td {
      border-bottom: 1px solid $black;
      padding-bottom: 10px;
    }

    & td:last-child {
      width: 100px;
    }

    float: right;
  }
}

.sale-controls {
  background-color: $white;
  @include flexbox;

  .sale-btn {
    @include flex(1 0 0);
    margin: 4px 12px;
  }
}
